name: Rust Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable

    - name: Build
      # TODO: Find categorical solution to exclude all Darwin-only packages
      # instead of hardcoding package names
      run: cargo build --workspace --exclude earth-3d --verbose

    - name: Run tests
      # TODO: Find categorical solution to exclude all Darwin-only packages
      # instead of hardcoding package names
      run: cargo test --workspace --exclude earth-3d --verbose
